	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/05/2019 11:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.36d95bd0ae4e.36d95bd0ae4e.eot");
  src: url("./Flaticon.36d95bd0ae4e.36d95bd0ae4e.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.bcdda8685dec.bcdda8685dec.woff2") format("woff2"),
       url("./Flaticon.2190308028e7.2190308028e7.woff") format("woff"),
       url("./Flaticon.152fcfab7674.152fcfab7674.ttf") format("truetype"),
       url("./Flaticon.8a0b07e1acca.8a0b07e1acca.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.8a0b07e1acca.8a0b07e1acca.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-piggy-bank:before { content: "\f100"; }
.flaticon-blood:before { content: "\f101"; }
.flaticon-food:before { content: "\f102"; }
.flaticon-donation:before { content: "\f103"; }
.flaticon-dollar:before { content: "\f104"; }
.flaticon-unity:before { content: "\f105"; }