{% load static %}
{% include "shared/top.html" %}
{% load cloudinary %}
<div class="row bg-light counter">
    <div class="container">
        {% if site %}
        <div class="jumbotron jumbotron-fluid bg-dark">

            <div class="jumbotron-background">
                <img src="{{site.imagen.url}}" class="blur ">
            </div>

            <div class="container text-white text-center">
                <h1 class="card-title h2 my-4 py-2 text-white">Galería</h1>
                <p class="mb-4 pb-2 px-md-5 mx-md-5">{{site.descripcion}}</p>
                <div style="display:inline-block;">
                    <a href="/ayudar" class="btn btn-primary2 primary">
                        <div style="color: white;"><i class="fa fa-clone left"></i>
                            ¡Dona Ahora!
                        </div>
                    </a>
                </div>

            </div>
            <!-- /.container -->
        </div>
        <hr class="mt-2 mb-2">
        {% endif %}
        <div class="row text-center text-lg-left" data-aos="fade-up">
            {% for y in years %}
            <div class="col-lg-4 col-md-4 col-6 py-3">
                <div class="card">
                    <a href="galeria/{{y.anio}}" target="_blank" class="d-block h-100 mb-0">
                        {% cloudinary y.imagen_tarjeta angle="ignore" class="img-fluid img-thumbnail"%}
                    </a>
                    <div class="card-body py-2">
                        <a href="galeria/{{y.anio}}">
                            <h2 class="card-title secondary text-center">{{ y.anio }}</h2>
                        </a>
                        <p class="card-text text-justify">
                            {% if y.categorias %}
                            <ul>
                                {% for g in y.categorias.all %}
                                <li>
                                    <h4 class="">
                                        {{g.nombre_categoria}}
                                    </h4>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br><br>
    </div>
</div>

{% include "shared/bottom.html" %}
