{% load static %}
<footer class="site-footer footer-font">
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <h3 style="color:white footer-font">
                    CENTRO DE DESARROLLO INTEGRAL VARONIL SAN JOSÉ<br>INSTITUCIÓN DE ASISTENCIA PRIVADA
                </h3>
                <hr>
                <h4 style="color:white footer-font"><b>Domicilio Fiscal</b></h4>
                <h5
                    style="color:white footer-font">Calle Caoba No. 44 Col. Del Bosque Hércules, Querétaro Querétaro,
                    México C.P. 76209</prh5e>
                <br><br>
                <h4 style="color:white footer-font"><b>Domicilio Operativo</b></h4>
                <h5
                    style="color:white footer-font">Calle San Nicolás, Privada San Nicolás s/n El Pozo El Marqués,
                    Querétaro, México. C.P. 76269</h5>
                <br>
                <h5 style="color:white footer-font"><b>TEL. Oficina (442) 6 90 77 07</b></h5>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="container">
            <div class="col-md-12">
                <div class="border-top pt-5 footer-font">
                    <p style="color: black;">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright ©
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank" style="color: black;">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>